<h1>What People are saying</h1>

<% @comments.each do |comment| %>

  <h3><%= comment.content %></h3>

  <form action="/comments/<%= comment.id %>/like" method="POST">
    <button type="submit">Like</button>
  </form>
  <% if comment.author == @user %>
    <form action="/comments/<%=comment.id%>/edit" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="comments" value="comments">
      <div class="form-row">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">You Wrote:</label>
          <textarea class="form-control" name="content" rows="3" placeholder="<%= comment.content%>"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <form action="/comments/<%= comment.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="comments" value="comments">
      <button type="submit">Delete</button>
    </form>
  <% else %>
    <form action="/comments/<%=comment.id%>/new" method="POST">
      <div class="form-row">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Add Comment:</label>
          <textarea class="form-control" name="content" rows="3" ></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  <% end %>  
<% end %>