<h1><% @admin.handle %></h1>

<div class="list-group">
  <% @posts.each do |post| %>
    <a href="/posts/<%= post.id%>" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= post.title %></h5>
        <small class="text-muted"><%= post.updated_at %></small>
      </div>
      <p class="mb-1"><%= post.body %></p>
      <small class="text-muted">
        <form action="/posts/<%= post.id %>/like" method="POST">
          <input type="hidden" name="home" value="home">
          <span class="badge badge-primary badge-pill"><%= post.likes.count %>  </span>  <button type="submit">Like</button>
        </form>
      </small>  
    </a>
    <div class="list-group">  
      <%= partial(:comment, :collection => post.comments ) %>
    </div>
  <% end %>
</div>


