<h1><% @admin.handle %></h1>

<% @admin.posts.each do |post| %>

  <h3><%= post.title %></h3>

  <p><%= post.body %></p>
  <p>LIKES <%= post.likes.count %></p>
  <ul>
    <% post.comments.each do |comment| %>
    <li><%=comment.content%> <strong><%= comment.author.handle %></strong></li>
      <p>LIKES <%= comment.likes.count %></p>
      <ul>
        <% comment.comments.each do |c| %>
          <li><%=c.content%> <strong><%= c.author.handle %></strong></li>
          <p>LIKES <%= c.likes.count %></p>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>